openapi: 3.1.0
info:
  title: Microsoft Bot Framework Connector REST Activities Attachments API
  description: Minimal OpenAPI definition for the Bot Framework Connector REST API used by bots to send and receive activities, manage conversations, members, and attachments.
  version: v3
  x-generated-from: https://learn.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://api.botframework.com
  description: Bot Framework public service URL
- url: https://smba.trafficmanager.net/{channel}
  description: Channel-specific service URL (Teams, etc.)
  variables:
    channel:
      default: teams
security:
- bearerAuth: []
tags:
- name: Attachments
paths:
  /v3/conversations/{conversationId}/attachments:
    parameters:
    - $ref: '#/components/parameters/ConversationId'
    post:
      tags:
      - Attachments
      summary: Upload Attachment
      operationId: uploadAttachment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: OK
  /v3/attachments/{attachmentId}:
    parameters:
    - in: path
      name: attachmentId
      required: true
      schema:
        type: string
    get:
      tags:
      - Attachments
      summary: Get Attachment Info
      operationId: getAttachmentInfo
      responses:
        '200':
          description: OK
  /v3/attachments/{attachmentId}/views/{viewId}:
    parameters:
    - in: path
      name: attachmentId
      required: true
      schema:
        type: string
    - in: path
      name: viewId
      required: true
      schema:
        type: string
    get:
      tags:
      - Attachments
      summary: Get Attachment
      operationId: getAttachment
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
components:
  schemas:
    GenericObject:
      type: object
      additionalProperties: true
  parameters:
    ConversationId:
      in: path
      name: conversationId
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
